.OrderBy
    display: flex
    align-items: baseline

    &__title
        margin-right: 1rem
        font-weight: 300

    select 
        padding: .5rem .8rem
        width: 125px
        font-size: .75rem
        font-weight: 500