.AppliedFilters
    width: 100%
    display: flex
    align-items: baseline

    @media (min-width: 768px) 
        width: 75%

    &__title
        font-weight: 300
        padding: .2rem 0

    &__button
        background-color: primary-color
        border: none 
        padding: .25rem .75rem
        margin-left: 1rem
        text-transform: capitalize
        border-radius: border-radius

    &__label
        margin-right: .5rem