@import "~normalize.css/normalize.css"

*,
*::before,
*::after 
    box-sizing: border-box

a
    text-decoration: none 
    color: inherit 
    cursor: pointer

button,
select
    cursor: pointer

h1, 
h2, 
h3, 
h4, 
h5, 
h6 
    margin: 0
    font-size: inherit
    font-weight: inherit

p 
    margin: 0